{% extends "base.html" %}
{% block page-title %}Manage User{% endblock page-title %}
{% block content %}
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">USERNAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">ROLE</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody>
        {% for data in users %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.username}}</td>
            <td>{{data.email}}</td>
            <td>{% if data.is_superuser %}
                <span class="badge badge-primary">ADMIN</span>
            {% else %}
                <span class="badge badge-primary">CUSTOMER</span>
            {% endif %}</td>
            <td>
                <form method="POST" action="{% url "delete_user" id=data.id %}">
                  {% csrf_token %}
                    <a class="btn btn-info" href="{% url "edit_user" id=data.id %}">EDIT</a>
                    <button type="submit" class="btn btn-danger">DELETE</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary mb-5" href="{% url "create_product" %}">New Product</a>
{% endblock %}